header img {
    float: left;
    height: 100px;
    width: 100px;
    background:#FFFFFF;
    position:absolute;
    top: 20px;
    left: 100px;

}
header nav{
    float:right;
    font-size:18px;
    height: 50px;
    padding: 15px 15px;
    font-size:16px;
    font-weight: 400;
    position: relative;
    top: 30px;
    right: 80px;
}



.btn{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    text-decoration:none;
    font-weight: 600;
    display: inline-block;


}
.sn{
    color: #0073b1;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    font-weight: 600;
    position: relative;
    top: 0px;
    right: -20px;

}
section{
    position: absolute;
    top: 150px;
    left: 90px;
    color: #2977c9;
    font-family: Helvetica, sans-serif;
    font-size:25px;

    line-height: 70px;
}
section img{
    float:right;
    height: 650px;
    width: 710px;
    position: absolute;
    top: 58px;
    left: 550px;
}
input[type=text] {
    position: absolute;
    top: 300px;
    left: 0px;
    width: 350px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('img/sicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}
section h2{
    position:absolute;
    top:565px;
    color:#faf9f7;
    height: 113px;
    width: 1500px;
    background-color: #faf9f7; 
    max-width: 650px;
    position: relative;
    right: 90px;
    top: 322px;

}
section .black-text{
    position: absolute;
    top: 670px;
    width: 1275px;
    padding-top: 6%;
    padding-left: 6%;
    padding-bottom: 50%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: #faf9f7; 
    max-width: 1500px;
    font-family: Lucida, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    color: rgba(0,0,0,0.9);
    position: relative;
    right: 96px;
    top: 285px;
}
section h4{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    right: 700px;
    top: 700px;
}

section .engineer{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 800px;
    border-radius: 25px;
    left: 430px;
    position: relative;
    top: -640px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 41px;
    width: 130px;
    background-color: rgba(0,0,0,0.08);
    text-decoration: none;
}
section .business{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 435px;
    position: relative;
    top: -642.5px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 18px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: rgba(0,0,0,0.08);
    text-decoration: none;

}
section .finance{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 440px;
    position: relative;
    top: -643px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: rgba(0,0,0,0.08);
    text-decoration: none;
}
section .admin{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 100px;
    position: relative;
    left: -128px;
    top: -578px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: rgba(0,0,0,0.08);
    text-decoration: none;
}
section .retail{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 300px;
    position: relative;
    left: -125px;
    top: -578px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: rgba(0,0,0,0.08);
    text-decoration: none;
}
section .customer{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    left: 440px;
    top: 918px;
    text-decoration: none;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.08);
    height: 50px;
    width: 230px;
    position: relative;
    top: -514px;
    left: -595px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 12px;
    padding-right: 7px;
}
section .operations{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 640px;
    position: relative;
    top: -586px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: rgba(0,0,0,0.08);
    text-decoration: none;

}
section .information{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 640px;
    position: relative;
    top: -586px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 18px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: rgba(0,0,0,0.08);
    text-decoration: none;
}
section .marketing{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 15px;
    position: relative;
    top: -522px;
    padding-top: 15px;
    padding-left: 14px;
    padding-right: 15px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: rgba(0,0,0,0.08);
    text-decoration: none;
}
section .human{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 300px;
    position: relative;
    left: 20px;
    top: -521px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: rgba(0,0,0,0.08);
    text-decoration: none;
}
.post{
    position: absolute;
    top: 1200px;
    left: -90px;
    font-weight: 200;
    line-height: 1.23;
    color: #B24020;
    border: 1px solid #f1ece5;
    background-color: #f1ece5;
    height: 200px;
    width: 95%;
    padding-left: 65px;
    position: relative;
    top:-380px;
    padding-top: 30px;
}
.box{

    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    top: 1270px;
    left: 430px;
    border-radius: 30px;
    border: 1px black solid;
    border-width: thin;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 5px;
    height: 58px;
    width: 120px;
    background-color: rgba(0,0,0,0.02);
    text-decoration: none;
}
.box:hover{
    background-color: 	#C0C0C0;
}
section h5{
    position:absolute;
    top:300px;
    height: 650px;
    width: 1350px;
    background-color: #faf9f7; 

    position: relative;
    right: 90px;
    top: -325px;
}
.previous {
    position: absolute;
    top: 1550px;
    left: -20px;
    font-size: 18px;
    color: grey;
    text-decoration: none;
}

.next {
    position: absolute;
    top: 1550px;
    left: 80px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.round {
    border-radius: 50%;
}
.firsttitle{
    position: absolute;
    top: 1600px;
    left: -30px;
    font-size: 40px;
    color: #2977c9;

}
section .para{

    position: absolute;
    top: 1680px;
    left: -30px;
    font-size: 25px;
    font-weight: normal;
    color: grey;
    line-height: 1.5;
    font-family: Palatino, serif
}
section .noel{
    position: absolute;
    top:1570px;
    left: 600px;
    height: 17%;
    width: 34%;
}
section .written{
    position: absolute;
    top: 1850px;
    left: -30px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    line-height: 1.5;
}
section .pic1{
    position: absolute;
    top: 2310px;
    left: 70px;
    height: 11%;
    width: 24%;
}
section .pic2{
    position: absolute;
    top: 2330px;
    left: 680px;
    height: 9%;
    width: 16%;
}
section .connectpeople{
    position: absolute;
    top: 2630px;
    left: 100px;
    background-color: white;
    color: black;
    font-family: Palatino, serif;
    font-size: 45px;
    font-weight:lighter;
    line-height: 1.3;
}
section .findpeople{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 100px;
    position: relative;
    top: 270px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 18px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: #2977c9;
    text-decoration: none;
}
section .findpeople:hover{
    background-color: #659ec7;
}
section .learn{
    position: absolute;
    top: 2630px;
    left: 700px;background-color: white;
    color: black;
    font-family: Palatino, serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 1.3;
}
.choosetopic{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 10px;
    border: 1px solid black;
    border-color: lightgray;
    left: 430px;
    position: relative;
    top: 270px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 55px;
    padding-bottom: 12px;
    background-color:white;
    text-decoration: none;

}
.drop{
    float:right;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 2823px;
    left: 1000px;
}
.article-head{
    font-family: Lucida, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    color: #B24020;
    height: 500px;
    width: 1050px;
    background-color: #faf9f7; 
    max-width: 650px;
    position: relative;
    left: -10px;
    top: 3350px;
    padding-left: 100px;
    padding-top: 110px;
}
.article-para{
    position: absolute;
    top: 3520px;
    left: 95px;
    font-family: Lucida, sans-serif;
    font-size: 40px;
    font-weight: lighter;
    line-height: 55px;
}
.article-tab{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 5px;
    border: 1px solid black;
    border-color: lightgray;
    left: 20px;
    position: relative;
    top: 3040px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 55px;
    padding-bottom: 12px;
    background-color:#f6e7f5;
    text-decoration: none;
}
.article-tab:hover{
    background-color: #ddd6c8;
}
.arrowicon{
    float:left;
    position: relative;
    height: 25px;
    width: 25px;
    top: 3039px;
    left: 425px;
}
.nexttab{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid black;
    border-color: lightgray;
    position: relative;
    left: -345px;
    top: 3130px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 198px;
    padding-bottom: 12px;
    background-color:#f6e7f5;
    text-decoration: none;
}
.nexttab:hover{
    background-color: #ddd6c8;
}
.nextarrow{
    float:left;
    position: relative;
    height: 25px;
    width: 25px;
    top: 3130px;
    left: 398px;
}
.finaltab{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid black;
    border-color: lightgray;
    position: relative;
    left: -708px;
    top: 3220px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 105px;
    padding-bottom: 12px;
    background-color:#f6e7f5;
    text-decoration: none;
}
.finaltab:hover{
    background-color: #ddd6c8;
}
.finalarrow{
    float:left;
    position: relative;
    height: 25px;
    width: 25px;
    top: 3220px;
    left: 370px;
}
.sideimage{
    position: absolute;
    top:3300px;
    left:760px;
}
.newhead{
    font-family: Lucida, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    color: #B24020;
    height: 500px;
    width: 900px;
    background-color: #f3fafe; 
    max-width: 1500px;
    position: relative;
    left: 400px;
    top: 3500px;
    padding-left: 350px;
    padding-top: 300px;

}
.nextpara{
    font-family: Lucida, sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    color: black;
    position: relative;
    left: 750px;
    top: 3020px;
}
.video{
    position: relative;
    left: 100px;
    top: 2700px;

}
.finalhead{
    position: relative;
    left:100px;
    top: 3100px;
    font-family: Lucida, sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 62px;
    color: #2977c9;
}
.getstarted{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 690px;
    top: 790px;
    border-radius: 25px;
    left: 95px;
    position: relative;
    top: 3100px;
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 24px;
    padding-bottom: 12px;
    height: 41px;
    width: 230px;
    background-color: #2977c9;
    text-decoration: none;
}
.getstarted:hover{
    background-color: #659ec7;
}
.bottomimage{
    position: relative;
    top:3150px;

}

.directory_list{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.23;
    color: black;
    border: 1px solid #f1ece5;
    background-color: #f1ece5;
    height: 250px;
    width: 72%;
    padding-left: 400px;
    position: relative;
    top:3140px;
    padding-top: 30px;
}
.directory_item{
    position: relative;
    top:2900px;
    left: 365px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 14px;
    list-style-type: none;
    line-height: 2;
}
.directory_link{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.second_directory{
    position: relative;
    left: 620px;
    top:2660px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.23;
    color: black;
}
.second_directory_item{
    position: relative;
    top:2650px;
    left: 580px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 14px;
    list-style-type: none;
    line-height: 2;
}
.third_directory{
    position: relative;
    left: 855px;
    top:2460px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.23;
    color: black;
}
.third_directory_item{
    position: relative;
    top:2453px;
    left: 815px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 14px;
    list-style-type: none;
    line-height: 2;
}
.fourth_directory{
    position: relative;
    left: 1100px;
    top:2290px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.23;
    color: black;
}
.fourth_directory_item{
    position: relative;
    top:2280px;
    left: 1060px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 14px;
    list-style-type: none;
    line-height: 2;
}
.bottomlogo{
    position: relative;
    top:2000px;
    left: 100px;
    height: 100px;
    width: 100px;
}
.footer_logo{
    position: relative;
    top:2200px;
    left:100px;

}
footer ul li{
    display:inline-block;
    margin: 0 5px;
    list-style-type: none;
    position: relative;
    top: 2160px;
    left: 250px;
}
footer a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: blue;

}



