.header img {
  float: left;
  height: 100px;
  width: 110px;
  background:#FFFFFF;
  position:absolute;
  top: 20px;
  left: 100px;

}

.head {
  float: right;
 font-size:18px;
   height: 50px;
  padding: 15px 15px;
  font-size:16px;
    color: black;
    position: relative;
    top: 30px;
    right: 80px;
   
  
}

.header-link{
    float:right;
 font-size:18px;
 height: 50px;
 padding: 15px 15px;
 font-size:16px;
 font-weight: 400;
 position: relative;
    top: 30px;
    right: 80px;
}
.btn{
     font-family: inherit;
    color: rgba(0,0,0,0.6);
    text-decoration:none;
    font-weight: 600;
    display: inline-block;
    
    
}
.sn{
    color: #0073b1;
     font-family: inherit;
    text-decoration:none;
    font-weight: 600;
     position: relative;
    top: 0px;
    right: -20px;

}



.h-one{
    position: absolute;
    top: 150px;
  left: 90px;
  color: #2977c9;
  font-size:25px;
    
    line-height: 70px
}
.side-image{
    float:right;
    height: 50px;
    width: 50px;
    position: relative;
    top: 180px;
    right: 500px;
    
}
input[type=text] {
    position: absolute;
    top: 450px;
    left: 85px;
  width: 350px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('img/sicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
 
}
.inner-banner-image{
    position: absolute;
    top: 800px;
 width:100%;
 margin:auto;
}
.banner-content{
  position: relative;
  right: 8px;
 padding-top: 6%;
 padding-left: 6%;
 padding-bottom: 30%;
 overflow:hidden;
 margin-bottom: 12%;
 background-color: #faf9f7; 
 max-width: 1233px;
 font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: rgba(0,0,0,0.9);
}
.inner-content{
    padding-top: 685px;
 width:110%;
 margin:auto;
 
}
.left-content{
  position: relative;
  right: 7.8px;
 padding-top: 0.7%;
 padding-bottom: 0.7%;
 overflow:hidden;
 margin-bottom: 12%;
 background-color: #faf9f7; 
 max-width: 660px;
 h1{color:#faf9f7}
}

  





    

    




@media screen and (max-width: 768px) {
    .header{ display: block;}
    
    
}
h1 {
    font-size: 1rem;
}

@media (min-width: 400px) {
    h1 {
        font-size: 1.3rem;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 1.9rem;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 768px){
    .side-image{ display: block; }
}




